<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los Productos</title>
</head>
<body>
    <h1>Todos los Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <h2>{{this.title}}</h2>
                <p>Precio: ${{this.price}}</p>
                <a href="/products/{{this._id}}">Ver detalles</a>
                <!-- Botón para agregar al carrito -->
                <button data-product-id="{{this._id}}" class="add-to-cart-button">Agregar al carrito</button>

            </li>
        {{/each}}
    </ul>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const addToCartButtons = document.querySelectorAll('.add-to-cart-button');

        addToCartButtons.forEach(button => {
            button.addEventListener('click', function () {
                const productId = this.getAttribute('data-product-id');
                addToCart(productId);
            });
        });

        function addToCart(productId) {
            fetch(`/api/carts/:cid/product/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ quantity: 1 }) 
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Producto agregado al carrito');
                    } else {
                        console.error('Error al agregar el producto al carrito');
                    }
                })
                .catch(error => {
                    console.error('Error al agregar el producto al carrito', error);
                });
        }
    });
</script>
</body>
</html>
