<form action="http://localhost:8080/api/signup" method="post">
    <input type="text" name="first_name" placeholder="Nombre">
    <input type="text" name="last_name" placeholder="Apellido">
    <input type="text" name="email" placeholder="Correo electrónico">
    <input type="number" name="age" placeholder="Edad">
    <input type="password" name="password" placeholder="Contraseña">
    <button type="submit">Registrarse</button>
</form>
